In [1]:
import pandas as pd
import numpy as np

In [5]:
with open('./datasets/conll2002/esp.train') as f:
    
    conll_train_lines = f.readlines()

In [7]:
len(conll_train_lines)

273038

In [8]:
conll_train_lines[0]

'Melbourne NP B-LOC\n'

In [15]:
final_lines = []
for line in conll_train_lines:
    line = line.replace('\n', '')
    features = line.split(" ")
    final_lines.append(features)

In [18]:
len(final_lines)

273038

In [32]:
conll_df = pd.DataFrame(final_lines, columns=["word", 'pos', 'label'])

In [33]:
conll_df.head()

        word  pos  label
0  Melbourne   NP  B-LOC
1          (  Fpa      O
2  Australia   NP  B-LOC
3          )  Fpt      O
4          ,   Fc      O

In [26]:
lines = [];words = [];labels = []
rf = open('./datasets/conll2002/esp.train', 'r')
for line in rf:
    word = line.strip().split(' ')[0]
    label = line.strip().split(' ')[-1]
    # here we dont do "DOCSTART" check
    if len(line.strip())==0 and words[-1] == '.':
        l = ' '.join([label for label in labels if len(label) > 0])
        w = ' '.join([word for word in words if len(word) > 0])
        lines.append((l,w))
        words=[]
        labels = []
    words.append(word)
    labels.append(label)
rf.close()
#return lines

In [29]:
#lines[0]

In [30]:
label2id = pd.read_pickle('./datasets/label2id.pkl')

In [31]:
label2id

{'[PAD]': 0,
 'B-MISC': 1,
 'I-MISC': 2,
 'O': 3,
 'B-PER': 4,
 'I-PER': 5,
 'B-ORG': 6,
 'I-ORG': 7,
 'B-LOC': 8,
 'I-LOC': 9,
 'X': 10,
 '[CLS]': 11,
 '[SEP]': 12}

In [38]:
conll_df.dropna(inplace=True)

In [40]:
conll_df.label.unique()

array(['B-LOC', 'O', 'B-ORG', 'B-PER', 'I-PER', 'B-MISC', 'I-ORG',
       'I-LOC', 'I-MISC'], dtype=object)